<%= form_for @wiki do |f| %>

<% if wiki.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
       <ul>
         <% wiki.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
    </div>
   <% end %>

<%= form_group_tag(wiki.errors[:title]) do %>
 <%= f.label :title %>
 <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
<% end %>

<%= form_group_tag(wiki.errors[:body]) do %>
 <%= f.label :body %>
 <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Markdown here" %>
<% end %>

<% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= f.label :private, class: 'checkbox' do %>
    <%= f.check_box :private %> Private wiki
    <% end %>
  </div>
<% end %>

<div>
 <%= f.submit "Save", class: "btn btn-default" %>
</div>
 <% end %>


 <% if current_user.premium? && @wiki.private? %>
 <div class="collab-menu pull-right">
 <%= form_for [@wiki, Collaborator.new] do |f| %>
 <div>
   <h4> Add collaborators </h4>
   <%= f.collection_select :user, User.order(:email),:id, :email, {}, {:multiple => true} %>
 </div>
 <%= f.submit "Add", class: "btn btn-default" %>
   <h4> Collaborators </h4>
   <% @wiki.collaborators.each do |collab| %>
   <h5>
     <%= link_to "X", wiki_collaborator_path(@wiki, collab.user.id), method: :delete, class: "btn btn-danger" %>
     <%= collab.user.email %>
   </h5>
   <% end %>
 </div>

 <% end %>
 <% end %>
