<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
     <ul class="nav nav-tabs">
       <li class="pull-left"><%= link_to "Home", welcome_index_path, class: 'navbar-link' %> </li>
       <li class="pull-left"><%= link_to "View Wikis", wikis_path, class: 'navbar-link' %> </li>
       <% if user_signed_in? %>

       <% if current_user.premium? || current_user.admin? %>
        <li class="pull-left"><%= link_to "Your Private Wikis",  private_wikis_wikis_path, class: 'navbar-link' %> </li>
       <% end %>

          <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <li class="pull-right"><%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %></li>
          <li class="pull-right display-email">Signed in as: <strong><%= current_user.email %></strong>  |</li>
       <% else %>
          <li class="pull-right"><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %></li>
          <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %></li>
      <% end %>
     </ul>


     <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

    <%= yield %>
  </div>
  </body>
</html>
